.postbox {
    position: relative;
    min-width: 25px;
    border: 1px solid #ccd0d4;
    box-shadow: 0 1px 1px rgba(0,0,0,.04);
    background: #fff;
    width: 80%;
}

.method{
    width: 50px;
}

.apiname{
    font-weight: bold;
    background:#e1f5c3;
}

.ajdt-inbox-message {
    position: relative;
    color: #757575;
    background: #f0f0f0;
    border-radius: 2px;
    font-size: 9px;
    font-size: .8125rem;
    margin: 0 0 24px;
    -ms-box-orient: horizontal;
}

.ajdt-message-title {
    font-weight: 250;
}

.ajdt-message-wrapper > div {
    padding: 16px 24px;
    border: 1px solid #ddd;
}